/* css/main.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  background: white;
  padding: 25px;
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  background: #1e88e5;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
}
